// COLORS
//$primary-color: #02aab0;
//$secondary-color: #00cdac;

$primary-color: #0B1226;
//$secondary-color: rgb(22, 37, 78);
$secondary-color: red;

//$primary-color: #7f449d;
//$secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #00040D;

$dark-blue-text: rgb(22, 37, 78); // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

.Collage-of-eco-friendly-and-organic-vegetables-in-paper-bags-1-hex { color: #2E5902; }
.Collage-of-eco-friendly-and-organic-vegetables-in-paper-bags-2-hex { color: #5EA617; }
.Collage-of-eco-friendly-and-organic-vegetables-in-paper-bags-3-hex { color: #F2B705; }
.Collage-of-eco-friendly-and-organic-vegetables-in-paper-bags-4-hex { color: #F28705; }
.Collage-of-eco-friendly-and-organic-vegetables-in-paper-bags-5-hex { color: #F20505; }
